/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.mainPane{
   
    
    -fx-background-color: linear-gradient(to bottom, #03A9FA, #00344D);
}

.header{
    -fx-background-color: #03A9FA;
    
    
}

.footer{
    
    -fx-background-color: linear-gradient(to top, #03A9FA, #00344D);
    
    
}

