/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2018, 10:32:36 AM
    Author     : USER
*/
.textField,.passwordField{
    
    -fx-text-inner-color: blue;
   
}

.button{
    
    -fx-background-color: linear-gradient(to bottom, #012398, #012333);
   
    /*-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 15);*/
       /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
 
}

.button:focused{
    
    -fx-background-color:#012333;
}
